.insert-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insert-container .content {
  width: 100%;
  padding: 96px;
  background: #eff5f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insert-container .content section {
  width: 100%;
  max-width: 400px;
  align-self: flex-end;
}

.insert-container .content section h1 {
  margin: 20px 0 20px;
  font-size: 25px;
}

.insert-container .content section p {
  font-size: 14px;
  color: #a5a5a5;
}

.insert-container .content form {
  width: 100%;
  max-width: 400px;
}
