.agendamento-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.agendamento-container header img {
  height: 130px;
  width: 100px;
}

.info-section {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.agendamento-container a {
  width: 260px;
  margin-left: auto;
}

.agendamento-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}

.agendamento-container ul li {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  position: relative;
}

.agendamento-container ul li button {
  position: absolute;
  background: none;
  right: 25px;
  top: 25px;
  border: 0;
}

.agendamento-container ul li button:hover {
  opacity: 0.8;
}

.agendamento-container ul li strong {
  display: block;
  margin-bottom: 5px;
  color: #000;
}

.agendamento-container ul li p + strong {
  margin-top: 10px;
}

.agendamento-container ul li p {
  color: #a5a5a5;
  font-size: 13px;
}
