@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Poppins, sans-serif;
  background: #eff5f5;
}

input,
button {
  font: 400 14px Poppins, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  color: #7b7b7b;
  border: 1px solid #dcdce6;
  border-radius: 10px;
  padding: 0 20px;
}

.button {
  width: 100%;
  height: 60px;
  background: #008b5a;
  border: 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(80%);
}

.return-link {
  display: flex;
  align-items: center;
  margin-top: 100px;
  color: #008b5a;
  font-size: 15px;
  text-decoration: none;
  font-weight: 400;
  transition: opacity 0.2s;
}

.return-link svg {
  margin-right: 8px;
}

.return-link:hover {
  opacity: 0.8;
}
